{% extends 'base.html'%}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 mt-5 pt-5">
        <div class="brand text-center pt-5 pb-5">
          <a class="text-info text-title insta"><i class="fa fa-instagram text-info ml-5 spinner-grow"></i>Instapic</a>
        </div>
        <div class="card bg-light pl-3 pr-3 text-black">
          <h5 class="pt-3">Welcome To InstaPic, The best social app where you can share your pics with friends.</h5>
          <div class="border-bottom pt-3">
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock %}
